*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-image: linear-gradient(-180deg, #e3f8e4, #608d63);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

div{
    background-color: rgba(189, 186, 186, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1{
        font-size: 34px;
        font-weight: bold;
        margin-bottom: 20px;
        color: #333;
    }

     form{
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 12px;

        label{
            font-size: 24px;
            font-weight: bold;
        }

        input{
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 20px;
            outline: none;
        }

    }

    button{
            padding: 12px;
            background-color: #4CAF50;
            color: white;
            font-size: 20px;
            width: 50%;
            margin: 20px auto;
            font-weight: bold;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #45a049;
            }


        }

        p{
                font-size: 22px;
                margin-top: 10px;
                font-weight: bold;
                text-align: center;
                border: #333 solid 1px;
                border-width: 30%;
                padding: 10px;
                border-radius: 5px;
            }
        .back-link{
                text-decoration: none;
                color: #4CAF50;
                font-weight: bold;
                font-size: 22px;
                margin-top: 20px;
                text-align: center;


                &:hover {
                    text-decoration: none;
                    font-weight:bold;
                    font-size: 20px;

                }
            }

}